beautifulsoup4==4.13.4
cefrpy==1.0.1
genanki==0.13.1
gTTS==2.5.4
nltk==3.9.1
pdfplumber==0.11.6
PyPDF2==3.0.1
pytest==8.3.5
python-dotenv==1.1.0
reportlab==4.4.1
Requests==2.32.3
spacy==3.8.4
tqdm==4.67.1
transformers==4.52.3

smartanki~=0.1.0
language_tool_python~=2.9.3